body{
    margin: 0;
    padding: 0;
    background-color: #dfdff2;
    scroll-behavior: smooth;
}

.container{
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

header{
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 40px;
    z-index: 999;
    background-color: #4b4b4b5f;
    backdrop-filter: blur(10px);
}

.head-left{
    display: flex;
    align-items: center;
}

.head-left h1{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 20px;
    color: #dfdff2;
    margin-right: 20px;
}

.head-right{
    display: flex;
}

.head-right a{
    text-decoration: none;
    padding-left: 25px;
    color: #dfdff2;;
    font-size: 11px;
    cursor: pointer;
}

.head-right a:hover{
    opacity: 0.7;
}

.hero-section{
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
}

.hero-vid{
    width: 100%;
    height: 100%;
    position: relative;
}

.hero-video{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.hero-info{
    z-index: 1;
    position: absolute;
    top: 80px;
    left: 50px;
}

.hero-info h1{
    position: relative;
    top: -30px;
}

.hero-info h1{
    -webkit-font-smoothing: antialiased;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: #dfdff2;
    font-size: 130px;
    font-weight: 900;
    font-style: normal;
    margin-top: 30px;
    margin-bottom: 20px;
}

.hero-info p{
    position: relative;
    top: -30px;
}

.hero-info p{
    -webkit-font-smoothing: antialiased;
    font-size: 18px;
    font-family: 'Roboto Mono';
    color: #dfdff2;
    font-weight: 400px;
    max-width: 340px;
}



.hero-info button{
    background-color: rgb(155, 77, 46);
    border: 2px solid rgb(155, 77, 46);
    padding: 10px 40px;
    border-radius: 20px;
    cursor: pointer;
    color: #dfdff2;
    transition: 0.2s;
    position: relative;
    top: -30px;
}

.hero-info button:hover{
    box-shadow: 0 0 15px rgb(226, 75, 15);

}

.performance-text{
    -webkit-font-smoothing: antialiased;
    font-size: 130px;
    color: #dfdff2;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    margin: 0;
    position: absolute;
    right: 20px;
    bottom: 30px;
}

.about-section{
    width: 100%;
    height: 100%;
    margin-top: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
}

.image-box{
    width: 360px;
    height: 510px;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50px;
}

.image-box img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.about-section{
    position: relative;
    top: -100px;
}

.about-section p{
    font-size: 12px;
    color: black;
    font-family: 'Roboto Mono';
}

.about-section h1{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-weight: 900;
    font-size: 80px;
    max-width: 1150px;
    text-align: center;
    margin: 25px 0;
    text-transform: uppercase;
    color: black;
}

.about-section h2{
    -webkit-font-smoothing: antialiased;
    margin-top: 50px;
    margin-bottom: 0;
    font-size: 17px;
    color: rgb(28, 28, 28);
    font-family: 'Roboto Mono';
}

.about-section h3{
    font-family: 'Roboto Mono';
   -webkit-font-smoothing: antialiased;
    font-size: 13px;
    margin-top: 5px;
    color: gray;
    max-width: 700px;
    text-align: center;
    line-height: 25px;
}

.info-section{
    display: flex;
    flex-direction: column;
    position: relative;
    width: 80%;
    margin-top: 100px;
}

.info-section h3{
    position: relative;
    bottom: 130px;
    -webkit-font-smoothing: antialiased;
    margin-top: 50px;
    margin-bottom: 0;
    font-size: 20px;
    color: rgb(28, 28, 28);
    font-family: 'Roboto Mono';
}

.info-section h3{
    margin-bottom: 0;
}

.info-section h4{
    position: relative;
    bottom: 100px;
    font-family: 'Roboto Mono';
   -webkit-font-smoothing: antialiased;
    font-size: 13px;
    margin-top: 5px;
    color: gray;
    max-width: 300px;
    text-align: left;
    line-height: 25px;
}

.info-section p{
    margin-top: 5px;
    color: grey;
    max-width: 400px;
    line-height: 25px;
}

.info-cards{
    display: grid;
    grid-template-columns: auto auto;
    gap: 20px;
    width: 100%;
    height: 100%;
    margin-top: 30px;
}


.card{
    position: relative;
    width: auto;
    height: 38vh;
    overflow: hidden;
    border: 1px solid gray;
    border-radius: 20px;
    transition: 0.5s;
}

.card h1{
    position: absolute;
    margin: 0;
    top: 10px;
    left: 5%;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 60px;
    z-index: 1;
    max-width: 300px;
} 

.card p{
    position: absolute;
    top: 80px;
    left: 5%;
    z-index: 1;
    max-width: 250px;
    color: lightgrey;
}

.card video{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.card button{
    position: absolute;
    bottom: 5%;
    left: 5%;
    padding: 10px 25px;
    border: 1px solid gray;
    background-color: #0f1217;
    color: gray;
    border-radius: 20px;
    box-shadow: 0 0 5px lightgray;
    cursor: pointer;
    transition: 0.3s;
}

.card button:hover{
    box-shadow: 0 0 15px rgb(44, 44, 44);
    opacity: 0.7;
}

.card:hover{
    box-shadow: 0 0 30px rgb(0, 0, 0);
}

.card:nth-child(1){
    grid-column: span 2;
}

.card:nth-child(2){
    grid-row: span 2;
    height: 80vh;
}

.footer{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #1a1a1a;
    backdrop-filter: blur(10px);
    height: 100px;
    margin-top: 100px;

}

.footer p{
    margin: 0 20px;
}

.footer ul{
    display: flex;
    list-style: none;
    margin-right: 14px;
}

.footer a{
    text-decoration: none;
    color: rgb(255, 255, 255);
    padding: 7px 7px;
    border-radius: 50px;
    border: 1px solid rgb(255, 255, 255);
    transition: 0.3s;
    margin: 10px;
}

/* BLUR EFFECT ANIMATION */

.autoBlur{
    animation: autoBlurAnimation linear both;
    animation-timeline: view();
}
@keyframes autoBlurAnimation{
    0%{
        filter: blur(0);
    }
    40%,60%{
        filter: blur(0);
        transform: translateY(0px);
        opacity: 1;
    }
    100%{
        filter: blur(40px);
        transform: translateY(-200px);
        opacity: 0;
    }
}

/* TAKE FULL SCREEN ANIMATION */

.autoTakeFull{
    animation: autoTakeFullAnimation both;
    animation-timeline: view(70% 65%);
}

@keyframes autoTakeFullAnimation{
    to{
        width: 100%;
        height: 100vh;
        border-radius: 0;
        margin-bottom: 100px;
    }
}

/* AUTO DISPLAY ANIMATION */
.autoDisplay{
    animation: autoDisplayAnimation both;
    animation-timeline: view(70% 5%);
}

@keyframes autoDisplayAnimation{
    from{
        opacity: 0;
        transform: translateY(200px) scale(0.3);
    } to{
        opacity: 1;
        transform: translateY(0) scale(1);
    }
}

@media screen and (max-width: 650px) {
    header{
        padding: 0 10px;
    }
    .head-left button{
        display: none;
    }
    .head-right a{
        font-size: 12px;
        padding: 0 5px;
    }
    .hero-info{
        left: 5%;
    }
    .hero-section h1{
        font-size: 90px;
    }
    .next-btn{
        left: 25%;
        top: 40%;
    }
    .about-section{
        margin: 0;
    }
    .about-section h1{
        font-size: 50px;
    }
    .image-box{
        width: 300px;
        height: 500px;
    }
    .about-section h4, .about-section h5{
        max-width: 350px;
        text-align: center;
    }
    .contact-section .img1{
        width: 150px;
        height: 200px;
        right: 0;
        top: 20px;
    }
    .contact-section .img2{
        top: 30px;
        left: -40px;
        width: 180px;
        height: 180px;
    }
    .contact-section .img3{
        left: -40px;
        bottom: 0;
        width: 150px;
        height: 180px;
    }
    .contact-section h1{
        font-size: 60px;
        max-width: 300px;
    }
    .footer p{
        display: none;
    }
    .footer ul{
        margin-left: 70px;
    }
    .stones-img{
        margin-top: 80%;
        width: 400px;
    }
}
